.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.header{
    color: #fff;
    height: 100px;
}

.header .wrapper{
    padding-top: 29px;
    display: flex;
}

.logo a{
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    width: 195px;
    height: 40px;
    font-size: 0;
}

.nav{
    margin-left: 100px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 20px;
}

.nav li a{
    color: black;
    font-size: 19px;
    padding: 8px;
    line-height: 34px;
}

.nav li a:hover{
    border-bottom: 2px blue solid;
}

.search{
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 80px;
}

.search input{
    width: 412px;
    height: 40px;
    background-color: transparent;
    border: 0;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 20px;
    padding-right: 30px;

    outline: none;
}

.user{
    padding-left: 32px;
}

.user img{
    vertical-align: middle;
}

.user span{
    color: #666666;
}

.banner{
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper{
    height: 420px;
    background-image: url("../uploads/banner.png");
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .left{
    width: 191px;
    height: 420px;
    /*背景半透明*/
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .right{
    width: 218px;
    height: 305px;
    background-color: pink;
}

/* .banner .left a{
    display: block;
    height: 46px;
    background: url("../images/right.png") no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
} */


.banner ul{
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap;
    align-content: space-between; */

}



.banner .left a{
    display: block;
    /* width: 100%; */
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

